# Environment files (keep these private)
.env
.env.local
.env.enc
*.env

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE temp files
*.swp
*.swo
*~

# Git snapshot
.gas-snapshot
functions-hardhat-starter-kit/deploy-artifacts/DaemonRegistryModerated.json
functions-hardhat-starter-kit/deploy-artifacts/DaemonSet.json
functions-hardhat-starter-kit/deploy-artifacts/TopOracle.json
functions-hardhat-starter-kit/networks.js
